// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // Makes the root element 10px so therefore it is easy to convert px to rem as 1rem is equal to 10px
  font-size: 62.5%;
}

body {
  font-family: $ff-r;
}

h1 {
  font-size: 6.4rem;
  color: $bg-blue;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
}

h2 span {
  font-size: 1.4rem;
  color: $dark-grey;
  font-weight: $fw-l;
}

iframe {
  border: 1px solid $black;
}
