header {
  background: $bg-blue;
  position: fixed;
  z-index: 2;
  padding: 1.2em;
  //Span full width of screen
  width: 100%;


  @include mq1200 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em;
  }

  a {
    display: none;
    &:hover{
      text-decoration: underline;
    }

    @include mq1200  {
      display: block;
      color: $white;
      font-size: 2.5rem;
    }
  }

  //Input field
  form  {
    @include mq1200 {
      width: 60vw;
      justify-content: flex-start;
      align-items: center;
    }
      input {
        width: 50vw;
        padding: .2em;
        border-radius: .2em;
        border: none;
        font-size: 1.5rem;
        @include mq1200 {
          font-size: 2rem;
        }
      }
      ::placeholder {
        font-size: 1.5rem;
        color: $light-grey;
        @include mq1200 {
          font-size: 2rem;
        }
      }
      button {
        font-size: 1.8rem;
        color: $white;
        border-radius: .1em;
        background: none;
        padding: .2em .7em;
        border: 1px solid $white;
        margin-left: .8em;
        cursor: pointer;

        &:hover {
          background: $white;
          color: $bg-blue;
        }
      }
  }
}
