header {
  background: $bg-blue;
  padding: 1.2em;
  position: fixed;
  width: 100%;

  @include mq1200 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em;
  }

  a {
    &:hover{
      text-decoration: underline;
    }
    display: none;
    @include mq1200  {
      display: block;
      color: $white;
      font-size: 2.5rem;
    }

  }

  form  {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq1200 {
      width: 80%;
      justify-content: flex-start;
    }
      input {
        width: 70%;
        padding: .4em;
        border-radius: 1em;
        border: none;
        font-size: 1.5rem;
        @include mq1200 {
          font-size: 2rem;
        }
      }
      ::placeholder {
        font-size: 1.5rem;
        color: $light-grey;
        @include mq1200 {
          font-size: 2rem;
        }
      }
      button {
        font-size: 1.8rem;
        background: $bg-green;
        color: $white;
        border-radius: 50%;
        padding: .5em;
        border: none;
        margin-left: .8em;
        cursor: pointer;

        &:hover {
          border: 1px solid #648e25;
        }
      }
  }
}
