main {
  // All the iframes to be aligned in a row
  padding-top: 5em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 120vh auto;

  @include mq1200 {
    section:first-child {
      margin-left: 1em;
    }
  }

  section {
    margin-right: 5em;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    svg {
      width: 27px;
      height: 20px;
  }
}

.hiw {
  grid-column: 1/2;
  grid-row-start: 2;
  padding: 1.5em;
  line-height: 1.4;

  @include mq800 {
    grid-column: 1/3;
  }

  @include mq1200 {
    grid-column: 1/4;
  }

  a {
    color: $bg-blue;
  }

  p, li {
    font-size: 1.5rem;
    @include mq1200 {
      font-size: 1.8rem;
    }
  }

  ul {
    margin-left: 2em;

    li {
      margin: 1em 0;
    }
  }
}
.w-h {
  display: flex;
  font-size: 1.4rem;
  color: $dark-grey;
  font-weight: $fw-l;
}
.width, .height {
  margin: 0 .25em 0 .25em;
}
.swap-width{
  order: 3;
}

.iphone {
  width: 677px;
  height: 375px;
}

.google {
  width: 823px;
  height: 411px
}

.ipad {
  width: 768px;
  height: 1024px;
}
.rotatemobile {
  transform: rotate(-90deg);
  position: relative;
  top: 150px;
  right: 150px;
}
